<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Passionate about simplifying property decisions, Commonfloor.com offers home seekers, sellers and real estate professionals an extensive online real estate ecosystem. This ecosystem innovatively combines at a single stop:
</p>
<p>
  <ul>
    <li>Exhaustive search options for both renting and buying property</li>
    <li>Easy to use analytics</li>
    <li>Apartment and locality reviews</li>
    <li>A comprehensive and verified data base of apartments across India</li>
    <li>Apartment community management tools</li>
  </ul>
</p>
<p>As a user you have all conceivable property details for over 5 lakhs active property listings across over 200 cities and over 1,10,000 projects.</p>

<p>Apart from a robust search mechanism Commonfloor also maintains a vast repository of research on a host of property related matters ranging from legal issues to maintenance to facility management to home insurance among many others.</p>

<p>With over 70 lakh monthly online visits Commonfloor.com aims at adding value to each and every property pursuit.</p>
