<% provide(:title, "Contact") %>
<h1>Contact</h1>

<h2>Get in touch with us !</h2>

<p>
  We will be very happy to help you and assist you in your search.
  Feel free to call us , mail us or simply complete the contact form
  <strong>18008331801</strong> Monday to Saturday 9am to 9pm
</p>
<p>
  contactus@commonfloorclone.com
</p>
<p>
  support@commonfloorclone.com
</p>
