<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  The information provided herein have been collected from publicly available sources, and is yet to be verified as per RERA guidelines.*
</p>
<p>
  The information sources used here include onsite interviews, marketing material and other information sources on the internet. The information related to ownership of this property are also based on material gathered from public sources mentioned above or as has been declared to us by the owners/person listing the property. These data have not yet been verified against authentic documents, and are only indicative of the actual situation of this property, project or land holding, and their ownership.
</p>
<p>
  At CommonFloor, we provide this information to help our users find publicly available data in a structured format. We are in the process of connecting with the relevant owners and verifying the data as per the provisions of the Real Estate (Regulation and Development) Act, 2016. We will keep updating the information here regularly. While we believe that the information provided to you is correct on the basis of the data provided to us, please consider this data and information as indicative and use your judgement and verify any information before making any decision. 
</p>
