<h1>You can View Inlisted property</h1>
<div>

  <table class="table">
    <% @user.properties.each do |prop| %>
    <tr>
      <th><%if prop.picture? %>
      <%= prop.picture %>
      <% else %>
      <%= image_tag("no-thumb.jpg", style: "display:inline; height:105px; width:200px;") %>
      <% end %>
    </th>
      
      <% if current_user.is_admin? %>
      <th> <%= link_to prop.title, admin_property_path(current_user,prop) %> </th>
      <% else %>
      <th> <%= link_to prop.title, user_property_path(current_user,prop) %> </th>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
